@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

.slider {
    width: 100%;
    height: 20vh;
    background-color: #1a1920;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.slider-titre {
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.section, .info-section {
    padding: 40px 20px;
}

.boxed {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 20px;
}
.dark{
    background : black;
    color: #ffffff;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.text-center {
    text-align: center;
}
.w25{
    width: 25%;

}
.skill{
    background: #708de2;
    border-radius: 15px;
    padding: 20px;
    box-sizing:border-box
}
.skill img{
    width: 27%;
}
.skill h3{
    margin-top: 10px;
}
.projet2{
    text-align: center;
}
